include intake/interface/icons/*

recursive-include templates *

include versioneer.py
include intake/_version.py
include requirements.txt
include setup.py
include LICENSE
include intake/cli/sample/*

prune **/tests/**
prune docs
