# This file is also processed by conda-build, so keep spaces as "pkg >=1.2"
appdirs
dask >=0.17.0
holoviews
jinja2
msgpack-numpy
msgpack-python
numpy
pandas
python-snappy
requests
ruamel.yaml >=0.15.0
six
tornado >=4.5.1
