name: intake-docs
channels:
  - conda-forge

dependencies:
  - appdirs
  - python=3.10
  - dask
  - numpy
  - pandas
  - msgpack-python
  - msgpack-numpy
  - requests
  - tornado
  - jinja2
  - python-snappy
  - pyyaml
  - hvplot>=0.8.1
  - platformdirs
  - panel>=0.9.5
  - bokeh<3.0
  - docutils<0.17  # Downgrade docutils to fix missing bullets (https://stackoverflow.com/a/68008428)
  - sphinx
  - sphinx_rtd_theme
  - numpydoc
  - entrypoints
  - aiohttp
